# SMOTE

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

In [2]:
ds = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv',header=0,names=range(0,8))

In [3]:
ds

      0   1   2    3     4      5   6  7
1    85  66  29    0  26.6  0.351  31  0
8   183  64   0    0  23.3  0.672  32  1
1    89  66  23   94  28.1  0.167  21  0
0   137  40  35  168  43.1  2.288  33  1
5   116  74   0    0  25.6  0.201  30  0
..  ...  ..  ..  ...   ...    ...  .. ..
10  101  76  48  180  32.9  0.171  63  0
2   122  70  27    0  36.8  0.340  27  0
5   121  72  23  112  26.2  0.245  30  0
1   126  60   0    0  30.1  0.349  47  1
1    93  70  31    0  30.4  0.315  23  0

[767 rows x 8 columns]

In [4]:
df = pd.DataFrame(data=ds)

In [5]:
df

      0   1   2    3     4      5   6  7
1    85  66  29    0  26.6  0.351  31  0
8   183  64   0    0  23.3  0.672  32  1
1    89  66  23   94  28.1  0.167  21  0
0   137  40  35  168  43.1  2.288  33  1
5   116  74   0    0  25.6  0.201  30  0
..  ...  ..  ..  ...   ...    ...  .. ..
10  101  76  48  180  32.9  0.171  63  0
2   122  70  27    0  36.8  0.340  27  0
5   121  72  23  112  26.2  0.245  30  0
1   126  60   0    0  30.1  0.349  47  1
1    93  70  31    0  30.4  0.315  23  0

[767 rows x 8 columns]

In [6]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [7]:
ds.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [8]:
dfx = df.iloc[:,0:7]

In [9]:
dfy = df.iloc[:,-1]

In [10]:
dfx

      0   1   2    3     4      5   6
1    85  66  29    0  26.6  0.351  31
8   183  64   0    0  23.3  0.672  32
1    89  66  23   94  28.1  0.167  21
0   137  40  35  168  43.1  2.288  33
5   116  74   0    0  25.6  0.201  30
..  ...  ..  ..  ...   ...    ...  ..
10  101  76  48  180  32.9  0.171  63
2   122  70  27    0  36.8  0.340  27
5   121  72  23  112  26.2  0.245  30
1   126  60   0    0  30.1  0.349  47
1    93  70  31    0  30.4  0.315  23

[767 rows x 7 columns]

In [11]:
dfy

1     0
8     1
1     0
0     1
5     0
     ..
10    0
2     0
5     0
1     1
1     0
Name: 7, Length: 767, dtype: int64

In [12]:
dfy.value_counts()

0    500
1    267
Name: 7, dtype: int64

In [13]:
import sklearn

In [14]:
import numpy
numpy.__version__

'1.19.2'

In [15]:
sklearn.__version__

'0.24.2'

In [16]:
!pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in /home/amritesh/anaconda3/lib/python3.8/site-packages (0.8.0)
Requirement already satisfied: joblib>=0.11 in /home/amritesh/anaconda3/lib/python3.8/site-packages (from imbalanced-learn) (1.0.0)
Requirement already satisfied: numpy>=1.13.3 in /home/amritesh/anaconda3/lib/python3.8/site-packages (from imbalanced-learn) (1.19.2)
Requirement already satisfied: scipy>=0.19.1 in /home/amritesh/anaconda3/lib/python3.8/site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: scikit-learn>=0.24 in /home/amritesh/anaconda3/lib/python3.8/site-packages (from imbalanced-learn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/amritesh/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.1.0)

In [18]:
from imblearn.over_sampling import SMOTE

In [19]:
smt = SMOTE()

In [20]:
trainx, trainy = smt.fit_resample(dfx,dfy)

In [21]:
np.bincount(dfy)

array([500, 267])

In [24]:
trainy.value_counts()

0    500
1    500
Name: 7, dtype: int64

In [25]:
trainx.value_counts()

0    1   2   3    4          5         6
0    48  20  0    24.700000  0.140000  22    1
138  90  0   0    33.105457  0.654817  44    1
137  68  14  148  24.800000  0.143000  21    1
     70  38  0    33.200000  0.170000  22    1
     73  0   0    28.340699  0.352061  62    1
                                            ..
108  80  30  177  34.841857  0.300651  38    1
     88  19  0    27.100000  0.400000  24    1
     91  38  0    45.069481  0.585818  45    1
109  38  18  120  23.100000  0.407000  26    1
199  76  43  0    42.900000  1.394000  22    1
Length: 1000, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train_x,test_x , train_y, test_y = train_test_split(trainx,trainy,test_size=.3,random_state=45)

In [28]:
train_x.shape

(700, 7)

In [29]:
train_y.shape

(700,)

In [30]:
lg = LogisticRegression()
lg.fit(train_x,train_y)

/home/amritesh/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
lg.score(train_x,train_y)

0.7528571428571429

In [32]:
pred = lg.predict(test_x)

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
accuracy_score(test_y,pred)

0.7533333333333333